@using Cliente.Services
@using Cliente.Modelos
@page "/"
@inject CarritoService CarritoService
@inject ApiService ApiService

<h3>Lista de Productos</h3>

@if (productos is null)
{
    <p>Cargando productos...</p>
}
@* else if (productos.Count == 0)
{
    <p>No se encontraron productos.</p>
} *@
else
{
    <div class="productos">
        @foreach (var producto in productos)
        {
            <div class="producto">
                <h4>@producto.Nombre</h4>
                <p>@producto.Descripcion</p>
                <p><strong>$@producto.Precio</strong></p>
                <p>Stock: @producto.Stock</p>
                @* <button @onclick="() => AgregarAlCarrito(producto)">Agregar al carrito</button> *@
                <button @onclick="@(() => AgregarAlCarrito(producto))">Agregar al carrito</button>
            </div>
        }
    </div>
}
@code {
    List<Producto>? productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await ApiService.ObtenerProductosAsync();
    }
    private void AgregarAlCarrito(Producto producto)
    {
        CarritoService.AgregarProducto(producto);
    }
}